<div class="container">
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card-counter primary" (click)="navigateToOpen()" role="button">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">6</span>
        <span class="count-name">Open Tickets</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-counter danger" (click)="navigateToClosed()" role="button">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">6</span>
        <span class="count-name">Closed Tickets</span>
      </div>
    </div>
  </div>
</div>
